<div class="container">
  <div class="edit-form">
    <h4>Activity</h4>
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <p>
        <label for="name">Activity Name:</label>
        <input type="text" id="name" name="name" formControlName="name" class="form-control" [(ngModel)]="currentActivity.name">
      </p>
      <p>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" formControlName="description" class="form-control" [(ngModel)]="currentActivity.description">
      </p>

      <table class="table table-bordered" formArrayName="options">
        <tr>
          <th colspan="3">Add Multiple Option:</th>
          <th width="150px">
            <button type="button" (click)="addOption()" class="btn btn-primary">Add More</button>
          </th>
        </tr>
        <tr *ngFor="let option of options().controls; let i=index" >
          <div [formGroupName]="i">
            <td>
              name :
              <input type="text" class="form-control" formControlName="nameOption" value="{{option.nameOption}}">
            </td>
            <td>
              image:
              <input type="text" class="form-control" formControlName="image" value="{{option.image}}">
            </td>
            <td>
              price:
              <input type="text" class="form-control" formControlName="price" value="{{option.price}}">
            </td>
            <td>
              <button (click)="removeOption(i)" class="btn btn-danger">Remove</button>
            </td>
            <td>
              <button (click)="voteOption(i)" class="btn btn-info">Vote</button>
            </td>
          </div>
        </tr>
      </table>

      <!-- <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentActivity.published ? "Published" : "Pending" }}
      </div> -->
    </form>

    <!-- <button class="badge badge-primary mr-2" *ngIf="currentActivity.published" (click)="updatePublished(false)">
        UnPublish
    </button>
    <button *ngIf="!currentActivity.published" class="badge badge-primary mr-2" (click)="updatePublished(true)">
        Publish
    </button> -->

    <button type="submit" class="btn btn-success mr-5" (click)="updateActivity()">
      Update
    </button>

    <button class="btn btn-danger mr-0" (click)="deleteActivity()">
      Delete
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentActivity">
    <br/>
    <p>Cannot access this activity...</p>
  </div>
</div>
