<div class="container">
  <div class="edit-form">
    <h4>Activity</h4>
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <!-- <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="currentActivity.title" name="title" />
      </div>
      <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" [(ngModel)]="currentActivity.description"
              name="description" />
      </div>
      <div class="form-group">
          <label for="URL">URL</label>
          <input type="text" class="form-control" id="URL" [(ngModel)]="currentActivity.URL"
              name="URL" />
      </div> -->

      <p>
        <label for="name">Activity Name:</label>
        <input type="text" id="name" name="name" formControlName="name" class="form-control">
      </p>
      <p>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" formControlName="description"
               class="form-control">
      </p>
      <p>
        <label for="URL">URL:</label>
        <input type="text" id="URL" name="URL" formControlName="URL" class="form-control">
      </p>

      <table class="table table-bordered" formArrayName="options">
        <tr>
          <th colspan="3">Add Multiple Option:</th>
          <th width="150px">
            <button type="button" (click)="addOption()" class="btn btn-primary">Add More</button>
          </th>
        </tr>
        <tr *ngFor="let option of options().controls; let i=index" [formGroupName]="i">
          <td>
            name :
            <input type="text" formControlName="nameOption" class="form-control">
          </td>
          <td>
            image:
            <input type="text" formControlName="image" class="form-control">
          </td>
          <td>
            price:
            <input type="text" formControlName="price" class="form-control">
          </td>
          <td>
            <button (click)="removeOption(i)" class="btn btn-danger">Remove</button>
          </td>
        </tr>
      </table>

      <!-- <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentActivity.published ? "Published" : "Pending" }}
      </div> -->
    </form>

    <!-- <button class="badge badge-primary mr-2" *ngIf="currentActivity.published" (click)="updatePublished(false)">
        UnPublish
    </button>
    <button *ngIf="!currentActivity.published" class="badge badge-primary mr-2" (click)="updatePublished(true)">
        Publish
    </button> -->

    <button type="submit" class="btn btn-success mr-5" (click)="updateActivity()">
      Update
    </button>

    <button class="btn btn-danger mr-0" (click)="deleteActivity()">
      Delete
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentActivity">
    <br/>
    <p>Cannot access this project...</p>
  </div>
</div>
