<div class="container pt-5">
  <h1 class="pb-3">Activity management</h1>
  <div class="row">
    <div class="col-md-4 mb-3" *ngIf="auth.currentUser.isAdmin">
      <a class="btn btn-success" routerLink="/activities/add">
        <i class="fas fa-plus"></i> Create new activity
      </a>
    </div>

    <!-- TODO: Add advanced filters here instead of a general search field -->
    <form class="col-md-8 ml-auto mb-3 form-inline">
      <div class="btn-group ml-auto searchBox">
        <input [(ngModel)]="searchTerm"
               class="form-control ml-auto" name="searchTerm"
               placeholder="Search by name..." type="text">
        <button class="btn btn-secondary" (click)="searchByName()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </div>
  <div *ngFor="let activity of activities" class="col-12 card">
    <div class="card-body">
      <h4 class="card-title">
        <a routerLink="/activities/{{ activity.id }}">{{ activity.name }}</a>
      </h4>
      <p class="card-text">{{ activity.description }}</p>
      <p class="card-text text-muted">{{ activity.createdOn | date: 'full' }}</p>

    </div>
  </div>
</div>
