<div class="container-xl">
    <div class="list row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="searchByName()">
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Activitys List</h4>
        <ul class="list-group">
          <!-- <li class="list-group-item" *ngFor="let activity of activitys">
          </li> -->
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="3">Data is updated every 15 minutes.</td>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let activity of activities">
                <th>{{activity.name}}</th>
                <td>{{activity.id}}</td>
                <td>{{activity.lockon}}</td>
                <td>
                  <button href="/activities/{{ activity.id }}" routerLink="/activities/{{ activity.id }}" class="btn btn-primary">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </ul>
      </div>
    </div>
  </div>
  