<div class="container pt-5">
  <!-- Content for empty case-->
  <div *ngIf="auth.user.admin && activities?.length == 0" class="text-center">
    <h4 class="py-5">No activity is happening, create your own now.</h4>
    <a class="btn btn-lg btn-success" routerLink="/activities/add">
      <i class="fas fa-plus"></i> Create new activity
    </a>
  </div>
  <div *ngIf="!auth.user.admin && activities?.length == 0" class="text-center">
    <h4 class="py-5">No activity is happening at the moment.</h4>
  </div>

  <!-- Content for regular case -->
  <h1 *ngIf="activities?.length > 0" class="pb-3">Activity Management</h1>
  <div *ngIf="activities?.length > 0" class="row">
    <div class="col-md-4 mb-3">
      <a class="btn btn-success" routerLink="/activities/add">
        <i class="fas fa-plus"></i> Create new activity
      </a>
    </div>

    <!-- TODO: Add advanced filters here instead of a general search field -->
    <form class="col-md-8 ml-auto mb-3 form-inline">
      <div class="btn-group ml-auto searchBox">
        <input [(ngModel)]="searchTerm"
               (change)="searchByName()"
               class="form-control ml-auto" name="searchTerm"
               placeholder="Search by name..." type="text">
        <button class="btn btn-secondary" (click)="searchByName()" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </div>

  <div *ngFor="let activity of visibleActivities" class="col-12 card">
    <div class="card-body">
      <h4 class="card-title">
        <a routerLink="/activities/{{ activity.id }}">{{ activity.name }}</a>
      </h4>
      <p class="card-text">{{ activity.description }}</p>
      <p class="card-text text-muted">{{ activity.createdOn | date: 'medium' }}</p>
    </div>
  </div>
</div>
