
<footer class="footer" style="position:relative; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #efefef; text-align: center;">
<!-- Footer Text -->
<div class="container-fluid text-center text-md-left" >

    <div class="row">
    <!-- contact by phone -->
    <div class="col-md-4 mb-md-0 mb-3">
    <!-- Content -->
    <h5 class="text-uppercase font-weight-bold">Talk to us</h5>
    <p>By making a call to +84 28 3991 2068 (VN)
        Mon - Fri, 09:00 AM - 06:30 PM </p>
    </div>

        <!-- contact by mail -->
    <div class="col-md-4 mb-md-0 mb-3">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Email Us</h5>
        <p>Not a big talker? Just email us at
            sales@tpssoft.com
            We will reply to you soon</p>
    </div>

    <!-- visit to my office -->
    <div class="col-md-4 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Visit Our Office</h5>
        <p>3rd Floor, Area C, Waseco Building, 10 Pho Quang,Ward 2,
        Tan Binh District, HCMC.</p>
    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none pb-3">


    
    </div>
    <!-- Grid row -->
</div>

<!-- Copyright -->
<div class="footer-copyright text-center py-3" >© 2020 Copyright:
    <a href="https://www.tpssoft.com/">  TPS Software Corp. All Rights Reserved.</a>
</div>
<!-- Copyright -->
</footer>