<nav class="navbar navbar-expand" style="background: #8a97a0;">
  <a href="/" class="navbar-brand">
    <img
    class="bg-mid-gray"
    width="100"
    alt="Angular Logo"
    src="https://www.tpssoft.com/themes/may/assets/images/tps-logo.svg"
  />
  </a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a href="/dashboard" class="nav-link" routerLink="dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a href="/projects" class="nav-link" routerLink="projects">Projects</a>
    </li>
    <li class="nav-item">
      <a href="/activities" class="nav-link" routerLink="activities">Activities</a>
    </li>

    <li class="nav-item" *ngIf="auth.loggedIn && auth.currentUser.isAdmin">
      <a href="/funds" class="nav-link" routerLink="funds">Funds</a>
    </li>

    <li class="nav-item" *ngIf="auth.loggedIn && auth.currentUser.isAdmin">
      <a href="/users" class="nav-link" routerLink="users">Users</a>
    </li>

    <!-- need to test for JOb UI  -->
    
    <li class="nav-item" *ngIf="auth.loggedIn && auth.currentUser.isAdmin">
      <a href="/jobs" class="nav-link" routerLink="jobs">Jobs</a>
    </li>

  </ul>

  <ul class="navbar-nav ml-auto">
    <li *ngIf="!auth.loggedIn" class="nav-item">
      <a href="/login" class="nav-link" routerLink="login">Login</a>
    </li>
    <li *ngIf="auth.loggedIn" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ auth.currentUser.displayName }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/profile" routerLink="profile">Profile</a>
        <a class="dropdown-item" href="/accountSettings" routerLink="profile">Account Settings</a>
        <a href="#" class="dropdown-item" (click)="auth.logout()">LogOut</a>
      </div>
    </li>
  </ul>
</nav>
