<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="/" class="navbar-brand">HHAM</a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a href="/dashboard" class="nav-link" routerLink="dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a href="/projects" class="nav-link" routerLink="projects">Projects</a>
    </li>
    <li class="nav-item">
      <a href="/activities" class="nav-link" routerLink="activities">Activities</a>
    </li>
    <li class="nav-item" *ngIf="auth.currentUser.isAdmin">
      <a href="/users" class="nav-link" routerLink="users">Users</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ auth.currentUser.username }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/profile" routerLink="profile">Profile</a>
        <a class="dropdown-item" href="/accountSettings" routerLink="profile">Account Settings</a>
        <a href="#" class="dropdown-item" (click)="auth.logout()">LogOut</a>
      </div>
    </li>
  </ul>
</nav>

