<div class="container-xl" style="padding-top: 25px;">
    <div class="list row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="searchByName()">
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <a href="/users/add" class="btn btn-info" routerLink="/users/add">Add</a>
        <h4>User List</h4>
        <ul class="list-group">
          <!-- <li class="list-group-item" *ngFor="let user of users">
            <a href="/users/{{ user.id }}" routerLink="/users/{{ user.id }}">{{ user.username }}</a>
            <a>{{user.displayName}}</a>
            <a>{{user.email}}</a>
            <a>{{user.jobTitleId}}</a>
          </li> -->
          <table>
            <tr>
              <th>Username</th>
              <th>DisplayName</th>
              <th>Email</th>
              <th>Job Title</th>
              <th>Actions</th>
            </tr>
            <tr *ngFor="let user of users">
              <td><a href="/users/{{ user.id }}" routerLink="/users/{{ user.id }}">{{ user.username }}</a></td>
              <td>{{user.displayName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.jobTitleId}}</td>
              <td>
                <button href="/users/{{ user.id }}" routerLink="/users/{{ user.id }}" class="btn btn-primary">Edit</button>
              </td>
            </tr>
          </table>
        </ul>
      </div>
    </div>
  </div>
