<div class="container pt-5">
    <div class="row">
      <div class="col-md-3"></div>
  
      <form class="col-md-6">
        <h1 class="pb-3">Edit user</h1>
  
        <div class="form-group">
          <label class="required-field" for="user">Username</label>
          <input [(ngModel)]="currentUser.username"
                 (focusout)="userTouched.username = true"
                 [class.is-invalid]="userTouched.username && !usernameIsValid()"
                 [class.is-valid]="userTouched.username && usernameIsValid()"
                 class="form-control" id="user" name="user"
                 required type="text">
        </div>
        <div *ngIf="userTouched.username && !usernameIsValid()" class="alert alert-danger" role="alert">
          Username is required and must contain at least 1 alphabetical character
        </div>
  
        <div class="form-group">
          <label for="displayName">Display name</label>
          <input [(ngModel)]="currentUser.displayName"
                 class="form-control" id="displayName" name="displayName"
                 required type="text">
        </div>
  
        <div class="form-group">
          <label class="required-field" for="email">Email</label>
          <input [(ngModel)]="currentUser.email"
                 (focusout)="userTouched.email = true"
                 [class.is-invalid]="userTouched.email && !emailIsValid()"
                 [class.is-valid]="userTouched.email && emailIsValid()"
                 class="form-control" id="email" name="email"
                 required type="email">
        </div>
        <div *ngIf="userTouched.email && !emailIsValid()" class="alert alert-danger" role="alert">
          Email is required
        </div>
  
        <div class="text-center">
          <button (click)="update()" class="btn btn-success m-1">
            <i class="fas fa-plus"></i> Update
          </button>
          <button routerLink="/users" class="btn btn-secondary m-1">
            <i class="fas fa-backward"></i> Back
          </button>
        </div>
      </form>
  
      <div class="col-md-3"></div>
    </div>
  </div>
  