
<div class="container">
  <div style="width: 400px; margin: auto;">
    <form #f="ngForm" (ngSubmit)="f.form.valid" class="submit-form" name="job" novalidate>

        <div class="form-group">
          <label for="name">Job title</label>
          <input #name="ngModel" type="text" class="form-control" id="name" required [(ngModel)]="job.name" name="name" />
          <div *ngIf="f.submitted && name.invalid" class="alert alert-warning" role="alert" style="top :10px">
            Job title is required!
          </div>
        </div>

        <div class="form-group">
          <label for="monthlyAmount">Amount to pay</label>
          <input #monthlyAmount="ngModel" type="text" class="form-control" id="monthlyAmount" required [(ngModel)]="job.monthlyAmount" name="monthlyAmount" />
          <div *ngIf="f.submitted && monthlyAmount.invalid" class="alert alert-warning" role="alert" style="top :10px">
            Amount to pay is required!
          </div>
        </div>

        <button (click)="saveJob()" class="btn btn-success">
          <!-- <a routerLink="/jobs" >Submit</a> -->
          Button
          </button>

    </form>
  </div>
</div>