<div class="container pt-5">
  <div *ngIf="!isInvitationValid()">
    <p>Sorry, your activation code is invalid.</p>
    <p>
      An activation code is only valid within 24 hours since its creation,
      maybe you should ask for another one from the people invited you.
    </p>
  </div>

  <div *ngIf="isInvitationValid()" class="row">
    <div class="col-md-3"></div>

    <form class="col-md-6">
      <h1 class="pb-3">Create new user</h1>

      <!-- Messages -->
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

      <!-- Form fields -->
      <div class="form-group">
        <label class="required-field" for="user">Username</label>
        <input [(ngModel)]="user.username"
               (focusout)="touched.username = true"
               [class.is-invalid]="touched.username && !usernameIsValid()"
               [class.is-valid]="touched.username && usernameIsValid()"
               class="form-control" id="user" name="user"
               required type="text">
      </div>
      <div *ngIf="touched.username && usernameIsEmpty()" class="alert alert-danger" role="alert">
        Username is required
      </div>
      <div *ngIf="touched.username && !usernameIsEmpty() && !usernameIsValid()"
           class="alert alert-danger" role="alert">
        Username can contain only alphanumeric characters and dots.
      </div>

      <div class="form-group">
        <label class="required-field" for="password">Password</label>
        <input [(ngModel)]="user.password"
               (focusout)="touched.password = true"
               [class.is-invalid]="touched.password && !passwordIsValid()"
               [class.is-valid]="touched.password && passwordIsValid()"
               class="form-control" id="password" name="password"
               required type="password">
      </div>
      <div *ngIf="touched.password && passwordIsEmpty()" class="alert alert-danger" role="alert">
        Password is required
      </div>
      <div *ngIf="touched.password && !passwordIsEmpty() && !passwordIsValid()"
           class="alert alert-danger" role="alert">
        Password must be at least 8 characters
      </div>

      <div class="form-group">
        <label for="displayName">Display name</label>
        <input [(ngModel)]="user.displayName"
               class="form-control" id="displayName" name="displayName"
               required type="text">
      </div>

      <div class="form-group">
        <label class="required-field" for="email">Email</label>
        <input [(ngModel)]="user.email"
               class="form-control" id="email" name="email"
               disabled required type="email">
      </div>

      <div class="form-group">
        <label for="activationToken">Activation Code</label>
        <input [(ngModel)]="user.activationToken"
               class="form-control" name="activationToken" id="activationToken"
               type="text">
      </div>

      <div class="text-center">
        <button (click)="create()" class="btn btn-success m-1" type="submit">
          <i class="fas fa-plus"></i> Create
        </button>
        <button (click)="reset()" class="btn btn-secondary m-1" type="button">
          <i class="fas fa-undo"></i> Reset
        </button>
      </div>
    </form>

    <div class="col-md-3"></div>
  </div>
</div>
