<div class="container">
  <div class="edit-form">
    <h4>User</h4>
    <form #f="ngForm" (ngSubmit)="f.form.valid" name="currentUser" novalidate>
      <div>
        <label for="username">User Name:</label>
        <input #username="ngModel" type="text" id="username" name="username" class="form-control"
          [(ngModel)]="currentUser.username" required>
        <div *ngIf="f.submitted && username.invalid" class="alert alert-warning" role="alert" style="top :10px">
          Username is required!
        </div>
      </div>
      <div>
        <label for="displayName">Display Name:</label>
        <input #displays_name="ngModel" type="text" id="displayName" name="displayName"
          class="form-control" [(ngModel)]="currentUser.displayName" required>
        <div *ngIf=" f.submitted && displays_name.invalid" class="alert alert-warning" role="alert" style="top :10px">
          Displays name is required!
        </div>
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" class="form-control"
          [(ngModel)]="currentUser.email" disabled>
      </div>
      <br />
      <button *ngIf="username.valid && displays_name.valid" class="btn btn-success mr-5" (click)="updateUser()">
        Update
      </button>
    </form>

    <!-- <button class="btn btn-danger mr-0" (click)="deleteUser()">
        Delete
      </button> -->
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUser">
    <br />
    <p>Cannot access this user...</p>
  </div>
</div>