<div class="container py-5">
  <div class="row">
    <div class="col-md-4"></div>
    <form class="col-md-4">
      <h1 class="text-center">Login</h1>

      <div class="form-group">
        <label for="username">Username</label>
        <input [(ngModel)]="loginRequest.username"
               [class.is-valid]="usernameTouched && usernameIsValid()"
               [class.is-invalid]="usernameTouched && !usernameIsValid()"
               class="form-control" id="username" name="username"
               type="text">
      </div>
      <p *ngIf="usernameTouched && !usernameIsValid()" class="alert alert-danger" role="alert">
        Username must not be empty
      </p>

      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="loginRequest.password"
               [class.is-valid]="passwordTouched && passwordIsValid()"
               [class.is-invalid]="passwordTouched && !passwordIsValid()"
               class="form-control" id="password" name="password"
               type="password">
      </div>
      <p *ngIf="passwordTouched && !passwordIsValid()" class="alert alert-danger" role="alert">
        Password must be at least 8 characters
      </p>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input [(ngModel)]="loginRequest.keepSignedIn"
                 class="custom-control-input" id="keepSignedIn" name="keepSignedIn"
                 type="checkbox">
          <label class="custom-control-label user-select-none" for="keepSignedIn">
            Keep me signed in
          </label>
        </div>
      </div>

      <div class="form-group">
        <a routerLink="/resetPassword">Forgot your password?</a>
      </div>

      <p *ngIf="errorMessage" class="alert alert-danger" role="alert">{{  errorMessage }}</p>
      <div class="form-group text-center">
        <input (click)="onSubmit()"
               class="btn btn-primary px-5" name="login"
               type="submit" value="Login">
      </div>

    </form>
    <div class="col-md-4"></div>
  </div>
</div>
