<header class="sticky-top">
  <nav class="navbar navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="#" routerLink="/">
      <img alt="TPS Logo" class="logo" src="/assets/tps-logo.svg">
    </a>
    <button *ngIf="auth.loggedIn" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="auth.loggedIn" class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link"
             data-target="#navbarContent.collapse.show" data-toggle="collapse"
             routerLink="/dashboard" routerLinkActive="active">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             data-target="#navbarContent.collapse.show" data-toggle="collapse"
             routerLink="/projects" routerLinkActive="active">
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             data-target="#navbarContent.collapse.show" data-toggle="collapse"
             routerLink="/activities" routerLinkActive="active">
            Activities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             data-target="#navbarContent.collapse.show" data-toggle="collapse"
             routerLink="/funds" routerLinkActive="active">
            Funds
          </a>
        </li>
        <li *ngIf="auth.user.admin || projectsAdministering.length > 0" class="nav-item">
          <a class="nav-link"
             data-target="#navbarContent.collapse.show" data-toggle="collapse"
             routerLink="/users" routerLinkActive="active">
            Users
          </a>
        </li>
        <li class="nav-item" *ngIf="auth.user.admin">
          <a class="nav-link"
             data-target="#navbarContent.collapse.show" data-toggle="collapse"
             routerLink="/jobs" routerLinkActive="active">
            Job Titles
          </a>
        </li>
      </ul>

      <div class="ml-auto dropdown">
        <a aria-expanded="false" aria-haspopup="true"
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           href="#"
           id="accountMenuToggler"
           type="button">
          {{ auth.user.displayName }}
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="accountMenuToggler">
          <li class="dropdown-item">
            <a class="nav-link"
               data-target="#navbarContent.collapse.show" data-toggle="collapse"
               routerLink="/profile/{{ auth.user.id }}">
              Profile
            </a>
          </li>
          <li *ngIf="false" class="dropdown-item">
            <a class="nav-link"
               data-target="#navbarContent.collapse.show" data-toggle="collapse"
               routerLink="/profile">
              Account Settings
            </a>
          </li>
          <li class="dropdown-item">
            <a (click)="logout()" class="nav-link" href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
