<div class="container-fluid">
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
        <div class="input-group-append">
          <!-- <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
              Search
            </button> -->
        </div>
      </div>
    </div>
    <div class="col-xl-5">
      <h4>Project List</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let project of projects; let i = index" [class.active]="i == currentIndex"
          (click)="setActiveProject(project, i)">
          {{ project.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentProject">
        <h4>Project</h4>
        <div>
          <label><strong>Name:</strong></label> {{ currentProject.name }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentProject.description }}
        </div>
        <div>
          <label><strong>Fund:</strong></label>
          {{ currentProject.fund }}
        </div>
        <table>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Job Title</th>
            <th scope="col">Check</th>
          </tr>
          <tr *ngFor="let member of members">
            <td>{{member.displayName}}</td>
            <td>{{member.email}}</td>
            <td>{{member.jobTitle}}</td>
            <td><input type="checkbox" class="form-check-input" id="checkFund"></td>
          </tr>
        </table>
      </div>
  
      <!-- <div *ngIf="!currentProject">
          <br />
          <p>Please click on a Project...</p>
        </div> -->
    </div>
  </div>
</div>