<div class="container-md absolute-center" style="padding-top: 30px;">
  <div class="col-sm">
    <div class="position-absolute top-left">
      <h2> Name Fund:  {{currentProject?.name}}</h2>
    </div>
    <div class="text-right">
      <h2> Current Balance: {{currentProject?.funds[0].amount | number}} VND</h2>
    </div>
  </div>

  <div class="col-sm">
    <h1 class="badge badge-danger">LIST OF MEMBERS</h1>
  </div>

  <div class="col-sm">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr class="accordion-toggle">
          <th scope="col">Member Name</th>
          <th scope="col">Job</th>
          <th scope="col">Monthly Amount</th>
          <th> Last Funding</th>
          <th scope="col" *ngIf="currentUserIsProjectAdmin()">Check</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let member of members">
          <td>{{ member.displayName }} </td>
          <td>{{ member.jobTitle ? member.jobTitle.name : "Not found"}}</td>
          <td>{{ (member.jobTitle ? member.jobTitle.monthlyAmount : 0) | number }} VND</td>
          <td> {{member?.transDtos[0]?.createdOn | date: 'mediumDate'}} </td>
          <td *ngIf="currentUserIsProjectAdmin()">
            <input type="checkbox" class="form-check-input" id={{member.id}}
                   value="{{member.jobTitle ? member.jobTitle.monthlyAmount : 0 }}">
          </td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="position-absolute top-left">
      <button *ngIf="currentUserIsProjectAdmin()" (click)="saveTransaction()" class="btn btn-primary">
        <i class="fab fa-cc-amazon-pay"></i>Payment</button>
    </div>
    <div class="text-right">
       <button (click)="remind()"
              *ngIf="currentUserIsProjectAdmin()"
              class="btn btn-primary mr-2"
              title="Send notification emails">
        <i class="fas fa-mail-bulk"></i> Remind
      </button>
    </div>
  </div>

  <div class="col-sm">
    <h1 class="badge badge-danger">HISTORY FUNDING</h1>
  </div>

  <div class="col-sm">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Member Name</th>
          <th scope="col">Job</th>
          <th scope="col">Amount</th>
          <th>Created On </th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transactions">
          <ng-container *ngIf="t.typeId === 1 && t.fundId === currentProject?.funds[0].id">
            <th>{{ t.username }}</th>
            <td>{{ t?.jobTitleDtos[0] ? t?.jobTitleDtos[0].name : "Not found" }}</td>
            <td>{{ t.amount | number }} VND</td>
            <td>{{t.createdOn | date: 'medium'}}</td>
            <td>{{ t?.memo }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    </div>
  </div>



  <div class="col-sm">
    <h2 class="badge badge-danger">HISTORY SPENDING</h2>
  </div>

  <div class="col-sm">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Activity Name</th>
          <th scope="col">Finished On</th>
          <th scope="col">Amount of Money</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transactions">
          <ng-container *ngIf="t.typeId === 2 && t.fundId === currentProject?.funds[0].id">
            <td>{{ t.activityName }}</td>
            <td>{{ t.createdOn | date: 'medium' }}</td>
            <td>{{ t.amount | number }}</td>
            <td>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#memo" aria-expanded="false" aria-controls="memo">
                  More Detail
                </button>
              <div class="collapse" id="memo">
                <div class="card card-body">
                 <span style="white-space: pre-line;">
                    {{t.memo}}
                  </span>
                </div>
              </div>

            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  </div>


</div>


<div aria-hidden="true" class="modal fade" id="reminderEmailRecipientsDialog" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remind project members for funding</h4>
      </div>
      <div class="modal-body">
        Reminder email for funding has been sent to the following addresses:
        <ul>
          <li *ngFor="let m of checkboxRemind">

            <ng-container *ngFor="let member of members">
            <ng-container *ngIf="m === member.id">
              {{member.email}}
            </ng-container>
            </ng-container>

          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

