<!-- Content for empty case -->
<div *ngIf="auth.user.admin && jobTitles?.length == 0" class="container pt-5 text-center">
  <h4 class="py-5">No job title created yet.</h4>
  <a class="btn btn-lg btn-success" routerLink="/jobs/add">
    <i class="fas fa-plus"></i> Create new job title
  </a>
</div>

<!-- Content for regular case -->
<div *ngIf="auth.user.admin && jobTitles?.length > 0" class="container pt-5">
  <h1 class="pb-3">Job Title Management</h1>

  <div class="row mb-3">
    <div class="col-md-4">
      <a class="btn btn-success" routerLink="/jobs/add">
        <i class="fas fa-plus"></i> Create new job title
      </a>
    </div>
    <!-- Messages -->
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <!-- Search -->
    <form class="col-md-8 form-inline">
      <!-- TODO: Add advanced filters here instead of a general search field -->
      <div class="btn-group ml-auto searchBox">
        <input [(ngModel)]="searchTerm"
               (change)="searchByName()"
               class="form-control ml-auto" name="searchTerm"
               placeholder="Search by name..." type="text">
        <button (click)="searchByName()"
                class="btn btn-secondary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </div>

  <!-- Messages -->
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
    {{ successMessage }}
    <button (click)="clearSuccessMessage()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
    <button (click)="clearErrorMessage()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <!-- Data -->
  <form>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Job title</th>
          <th scope="col">Monthly amount</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobTitle of visibleJobTitles">
          <td>
            <div *ngIf="!isInEditMode || jobTitle.id !== editingJobTitleId">
              {{ jobTitle.name }}
            </div>
            <input (focusout)="touched.name = true"
                   *ngIf="isInEditMode && jobTitle.id === editingJobTitleId"
                   [(ngModel)]="editingJobTitle.name"
                   [class.is-invalid]="touched.name && !isValidName()"
                   [class.is-valid]="touched.name && isValidName()"
                   class="form-control" name="jobTitleName" type="text">
          </td>

          <td>
            <div *ngIf="!isInEditMode || jobTitle.id !== editingJobTitleId">
              {{ jobTitle.monthlyAmount }}
            </div>
            <input (focusout)="touched.monthlyAmount = true"
                   (keypress)="keyPressOnAmount($event)"
                   *ngIf="isInEditMode && jobTitle.id === editingJobTitleId"
                   [(ngModel)]="editingJobTitle.monthlyAmount"
                   [class.is-invalid]="touched.monthlyAmount && !isValidAmount()"
                   [class.is-valid]="touched.monthlyAmount && isValidAmount()"
                   class="form-control" min="0" name="jobTitleMonthlyAmount"
                   step="1000" type="number">
          </td>

          <td>
            <button *ngIf="!isInEditMode || jobTitle.id !== editingJobTitleId"
                    (click)="beginEdit(jobTitle.id)"
                    [disabled]="isInEditMode && jobTitle.id !== editingJobTitleId"
                    class="btn btn-info m-1" type="button">
              <i class="fas fa-pen"></i> Edit
            </button>
            <button *ngIf="!isInEditMode || jobTitle.id !== editingJobTitleId"
                    (click)="confirmArchive(jobTitle.id)"
                    [disabled]="isInEditMode && jobTitle.id !== editingJobTitleId"
                    class="btn btn-danger m-1"
                    data-toggle="modal"
                    data-target="#archiveJobTitleConfirmDialog"
                    type="button">
              <i class="fas fa-archive"></i> Archive
            </button>

            <button (click)="saveEdit()"
                    *ngIf="isInEditMode && jobTitle.id === editingJobTitleId"
                    class="btn btn-primary m-1" type="submit">
              <i class="fas fa-save"></i> Save
            </button>
            <button (click)="cancelEdit()"
                    *ngIf="isInEditMode && jobTitle.id === editingJobTitleId"
                    class="btn btn-secondary m-1" type="button">
              <i class="fas fa-times-circle"></i> Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<!-- Dialogs -->
<div class="modal fade" id="archiveJobTitleConfirmDialog" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Archive job title</h4>
      </div>
      <div class="modal-body">
        Archived job title will not be editable anymore, please confirm your intention.
        <!-- TODO: Ask user to change job title of existing users to another one before archiving -->
      </div>
      <div class="modal-footer">
        <button (click)="archive()" class="btn btn-danger" data-dismiss="modal" type="submit">
          Archive this job title
        </button>
        <button class="btn btn-secondary" data-dismiss="modal" type="button">
          No, do not archive
        </button>
      </div>
    </div>
  </div>
</div>
