<div class="container pt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <form class="col-md-6">
      <h1 class="pb-3">Create new project</h1>

      <!-- Messages -->
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

      <div class="form-group">
        <label class="required-field" for="name">Name</label>
        <input (focusout)="touched = true" [(ngModel)]="project.name"
               [class.is-invalid]="this.touched && !isValidName()"
               [class.is-valid]="this.touched && isValidName()"
               class="form-control" id="name" name="name" required type="text">
      </div>
      <div *ngIf="this.touched && !isValidName()" class="alert alert-danger" role="alert">
        Project name is required
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea [(ngModel)]="project.description"
                  class="form-control" id="description" name="description" rows="10">
        </textarea>
      </div>

      <div class="text-center">
        <button (click)="create()" class="btn btn-success m-1" type="submit">
          <i class="fas fa-plus"></i> Create
        </button>
        <button (click)="reset()" class="btn btn-secondary m-1" type="button">
          <i class="fas fa-undo"></i> Reset
        </button>
      </div>
    </form>
    <div class="col-md-3"></div>
  </div>
</div>
