
        <table>
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Job tile</th>
              <th scope="col">Amount to pay</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="3">Data is updated every 15 minutes.</td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Senior Manager</td>
              <td>300000 VND</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Manager</td>
              <td>250000 VND</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Senior Developer</td>
              <td>200000 VND</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Developer</td>
              <td>150000 VND</td>
            </tr>
          </tbody>
        </table>
