
 <!-- using button to search -->
 <div class="container-xl" style="padding-top: 25px;">
   <div class="list row">
     <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="searchByName()">
            Search
          </button>
        </div>
      </div>
     </div>
     <div class="col-md-8">
      <a href="/jobs/add" class="btn btn-info" routerLink="/jobs/add">Add</a>
      <table mdbTable class="z-depth-1">
        <thead>
          <tr>
            <th [mdbTableSort]="jobs" sortBy="id"> ID</th>
            <th [mdbTableSort]="jobs" sortBy="name">Job tile</th>
            <th [mdbTableSort]="jobs" sortBy="monthlyAmount">Amount to pay</th>
            <th></th>

          </tr>
        </thead>

        
          <tr *ngFor="let job of jobs">
            <th>{{job.id}}</th>
            <td>{{job.name}}</td>
            <td>{{job.monthlyAmount}} VND</td>
            <td>
              <button href="/jobs/{{ job.id }}" routerLink="/jobs/{{ job.id }}" class="btn btn-primary">Edit</button>
            </td>
          </tr>
        
      </table>
    </div>
   </div>
 </div>

  



