
 <!-- using button to search -->
 <div class="container-xl">
   <div class="list row">
     <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            Search
          </button>
        </div>
      </div>
     </div>
     <div class="col-md-8">
      <a href="/jobs/add" class="btn btn-info" routerLink="/jobs/add">Add</a>
      <table>
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Job tile</th>
            <th scope="col">Amount to pay</th>
            <th></th>

          </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody *ngFor="let job of jobs">
          <tr>
            <th scope="row">{{job.id}}</th>
            <td>{{job.name}}</td>
            <td>{{job.amountMoney}} VND</td>
            <td>
              <button href="/jobs/{{ job.id }}" routerLink="/jobs/{{ job.id }}" class="btn btn-primary">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>
 </div>

<!-- using suggesstion to search -->
<!--  -->
<!-- <input #searchBox id="search-box" (keyup)="search(searchBox.value)" /> -->
<!--  -->
  <!-- <ul class="search-result"> -->
    <!-- <li *ngFor="let job of jobs | async" > -->
      <!--  -->
        <!-- {{job.name}}  -->
<!--  -->
    <!-- </li> -->
  <!-- </ul> -->


  



