<main class="container pt-5" role="main">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>

  <form class="row">
    <h1 *ngIf="!isActivityEditing" class="col-md-8 pb-3">{{ activity.name }}</h1>
    <div *ngIf="isActivityEditing" class="col-md-8">
      <input [(ngModel)]="newActivity.name"
             [class.is-invalid]="!validate.nonEmpty(newActivity.name)"
             [class.is-valid]="validate.nonEmpty(newActivity.name)"
             class="form-control" name="name" type="text"
             placeholder="Activity name can't be empty">
    </div>

    <div class="col-md-4 text-right" *ngIf="currentUserCanEdit()">
      <button (click)="enterActivityEditMode()"
              *ngIf="!isActivityLocked() && !isActivityEditing"
              class="btn btn-info height-limited-button mr-2"
              type="button">
        <i class="fas fa-pen"></i> Edit
      </button>
      <button (click)="saveActivityEdit()"
              *ngIf="isActivityEditing"
              class="btn btn-primary height-limited-button mr-2">
        <i class="fas fa-save"></i> Save
      </button>
      <button (click)="cancelActivityEdit()"
              *ngIf="isActivityEditing"
              class="btn btn-secondary height-limited-button mr-2">
        <i class="fas fa-times-circle"></i> Cancel
      </button>

      <button (click)="sendNotificationEmails()"
              *ngIf="!isActivityEditing && !isActivityLocked()"
              class="btn btn-secondary mr-2"
              title="Send notification emails">
        <i class="fas fa-mail-bulk"></i> Notify
      </button>

      <button (click)="finishActivity()"
              *ngIf="isActivityLocked()"
              class="btn btn-primary height-limited-button mr-2"
              type="button">
        <i class="fas fa-check"></i> Finish
      </button>
      <button
              data-target="#CancelActivityConfirmDialog"
              data-toggle="modal"
              *ngIf="isActivityLocked()"
              class="btn btn-danger height-limited-button mr-2"
              type="button">
        <i class="fas fa-times-circle"></i> Cancel
      </button>

      <button (click)="lockActivity()"
              *ngIf="!isActivityEditing && !isActivityLocked()"
              class="btn btn-primary height-limited-button mr-2"
              title="Stop receiving voting on this activity"
              type="button">
        <i class="fas fa-lock"></i> Lock
      </button>
      <button (click)="unlockActivity()"
              *ngIf="!isActivityEditing && isActivityLocked()"
              class="btn btn-secondary height-limited-button mr-2"
              title="Resume voting on this activity"
              type="button">
        <i class="fas fa-lock-open"></i> Unlock
      </button>
    </div>
  </form>

  <div class="text-muted">Created on {{ activity.createdOn | date: 'medium' }}</div>
  <div *ngIf="activity.lockedOn" class="text-muted">
    Locked voting on {{ activity.lockedOn | date: 'medium' }}
  </div>

  <p *ngIf="!isActivityEditing" class="description py-3">{{ activity.description }}</p>
  <textarea *ngIf="isActivityEditing"
            [(ngModel)]="newActivity.description"
            class="form-control" id="description" name="description"
            rows="10">
  </textarea>

  <h2>Options</h2>
  <div class="row row-cols-md-3">
    <form *ngFor="let option of options" class="col mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h4 *ngIf="!isOptionEditing(option.id)"
              class="card-title">
            {{ option.name }}
          </h4>
          <input (focusout)="editTouched.name = true"
                 *ngIf="isOptionEditing(option.id)"
                 [(ngModel)]="editingOptions[option.id].name"
                 [class.is-invalid]="editTouched.name && !isValidOptionName(editingOptions[option.id])"
                 [class.is-valid]="editTouched.name && isValidOptionName(editingOptions[option.id])"
                 class="form-control" name="optionName"
                 type="text">
          <div *ngIf="isEmptyOptionNameInEdit(option)"
               class="alert alert-danger mt-2" role="alert">
            Option name must not be empty
          </div>
          <div
            *ngIf="isDuplicatedOptionNameInEdit(option)"
            class="alert alert-danger mt-2" role="alert">
            Another option with this name already exists
          </div>

          <div *ngIf="!isOptionEditing(option.id)"
               class="card-text text-muted">
            {{ option.price | number }} VND
          </div>
          <div *ngIf="isOptionEditing(option.id)" class="input-group">
            <input (focusout)="editTouched.price = true"
                   (keypress)="onPriceEditKeyPress($event, option.id)"
                   [(ngModel)]="editingOptions[option.id].price"
                   [class.is-invalid]="editTouched.price && !isValidOptionPrice(editingOptions[option.id].price)"
                   [class.is-valid]="editTouched.price && isValidOptionPrice(editingOptions[option.id].price)"
                   class="form-control" name="optionPrice"
                   type="number">
            <div class="input-group-append">
              <span class="input-group-text">VND</span>
            </div>
          </div>
          <div *ngIf="editTouched.price && !isValidOptionPrice(editingOptions[option.id]?.price)"
               class="alert alert-danger" role="alert">
            Price must be 500 or more
          </div>
        </div>

        <div class="card-body h-100">
          <img *ngIf="option.image"
               alt="" class="card-img-bottom optionImage"
               src="{{ backendServer + option.image.url }}">
          <div *ngIf="!isOptionEditing(option.id) && !option.image" class="h-100 d-flex">
            <div class="h4 m-auto">No image</div>
          </div>

          <div *ngIf="isOptionEditing(option.id)">
            <div class="custom-control custom-checkbox py-2">
              <input [(ngModel)]="editingOptionsImageUrlEnabled[option.id]"
                     class="custom-control-input"
                     type="checkbox"
                     name="replaceOptionImage{{ option.id }}"
                     id="replaceOptionImage{{ option.id }}">
              <label class="custom-control-label" for="replaceOptionImage{{ option.id }}">
                Change image
              </label>
            </div>

            <div class="form-group">
              <label for="imageForOption{{ option.id }}">Image URL</label>
              <input (focusout)="editTouched.url = editingOptionsImageUrlEnabled[option.id]"
                     [(ngModel)]="editingOptionsImageUrl[option.id]"
                     [class.is-invalid]="isUrlEditInputInvalid(option.id)"
                     [class.is-valid]="isUrlEditInputValid(option.id)"
                     [readOnly]="!editingOptionsImageUrlEnabled[option.id]"
                     class="form-control"
                     id="imageForOption{{ option.id }}"
                     name="imageForOption{{ option.id }}"
                     type="url">
            </div>
            <div *ngIf="isUrlEditInputInvalid(option.id)" class="alert alert-danger" role="alert">
              A valid URL is required when <b>Change image</b> is checked
            </div>
          </div>
        </div>

        <div class="card-footer">
          <div *ngIf="activity.lockedOn && currentUserCanEdit()" class="text-center text-danger">
            Activity is locked, cannot edit
          </div>
          <div *ngIf="activity.lockedOn && !currentUserCanEdit()" class="text-center text-danger">
            Activity is locked, cannot vote
          </div>

          <div *ngIf="!activity.lockedOn" class="text-center">
            <!-- TODO: This group is ugly on small screen, redesign needed -->
            <div *ngIf="currentUserCanEdit()">
              <button (click)="beginEditOption(option.id)"
                      *ngIf="!isOptionEditing(option.id)"
                      class="btn btn-info m-1"
                      title="Edit activity information"
                      type="button">
                <i class="fas fa-pen"></i> Edit
              </button>
              <button (click)="captureOptionToDelete(option.id)"
                      *ngIf="!isOptionEditing(option.id)"
                      class="btn btn-danger m-1"
                      title="Delete"
                      data-toggle="modal"
                      data-target="#optionDeleteConfirmDialog"
                      type="button">
                <i class="fas fa-trash"></i> Delete
              </button>
              <button (click)="finishEditOption(option.id)"
                      *ngIf="isOptionEditing(option.id)"
                      class="btn btn-success m-1"
                      title="Save"
                      type="button">
                <i class="fas fa-check"></i> Save
              </button>
              <button (click)="cancelEditOption()"
                      *ngIf="isOptionEditing(option.id)"
                      class="btn btn-secondary m-1"
                      title="Cancel"
                      type="button">
                <i class="fas fa-times-circle"></i> Cancel
              </button>
            </div>

            <div *ngIf="!auth.user.admin" class="mt-3">
              <textarea [(ngModel)]="notes[option.id]"
                        *ngIf="!activity.lockedOn && !voted(option.id)"
                        class="form-control" name="note"
                        placeholder="Write your note here"
                        rows="3">
              </textarea>
              <textarea *ngIf="voted(option.id)"
                        class="form-control" name="noteVoted"
                        disabled rows="3">{{ voteMadeInThisActivity.note }}</textarea>
              <div class="mt-3">
                <button (click)="vote(option.id)"
                        *ngIf="!activity.lockedOn && !voted(option.id)"
                        class="btn btn-primary" type="button">
                  Vote
                </button>
                <span *ngIf="activity.lockedOn && !voted(option.id)" class="text-danger m-1">
                  Voting has been disabled.
                </span>
                <button (click)="unvote(option.id)"
                        *ngIf="voted(option.id)"
                        class="btn btn-danger m-1" type="button">
                  Unvote
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>

    <!-- Create option -->
    <div *ngIf="!activity.lockedOn && currentUserCanEdit() && !isAddOptionFormVisible" class="col mb-4">
      <div class="card h-100">
        <button (click)="showAddOptionForm()" class="button-add-option h-100" title="Add option">
            <span class="icon-wrapper">
              <i class="fas fa-plus"></i>
            </span>
        </button>
      </div>
    </div>

    <div [class.collapse]="!isAddOptionFormVisible" class="col mb-4 collapse">
      <form *ngIf="true" class="card h-100">
        <div class="card-header">
          <input (focusout)="createTouched.name = true"
                 [(ngModel)]="newOption.name"
                 [class.is-invalid]="createTouched.name && !isValidOptionName(newOption)"
                 [class.is-valid]="createTouched.name && isValidOptionName(newOption)"
                 class="form-control" name="optionName"
                 placeholder="Name..."
                 type="text">
          <div *ngIf="createTouched.name && isEmptyOptionName(newOption.name)"
               class="alert alert-danger mt-2" role="alert">
            Option name must not be empty
          </div>
          <div *ngIf="createTouched.name && isDuplicatedOptionName(newOption)"
               class="alert alert-danger mt-2" role="alert">
            Another option with this name already exists
          </div>

          <div class="input-group">
            <input (focusout)="createTouched.price = true"
                   [(ngModel)]="newOption.price"
                   (keypress)="onPriceAddKeyPress($event)"
                   [class.is-invalid]="createTouched.price && !isValidOptionPrice(newOption.price)"
                   [class.is-valid]="createTouched.price && isValidOptionPrice(newOption.price)"
                   class="form-control" min="500"
                   name="optionPrice" step="500" type="number">
            <div class="input-group-append">
              <div class="input-group-text">VND</div>
            </div>
          </div>
          <div *ngIf="createTouched.price && !isValidOptionPrice(newOption.price)"
               class="alert alert-danger mt-2" role="alert">
            Price must be 500 or more
          </div>
        </div>

        <div class="card-body">
          <label for="newOptionImageUrl">Image URL (optional)</label>
          <input [(ngModel)]="newOptionImageUrl"
                 [class.is-invalid]="newOptionImageUrl !== '' && !validate.url(newOptionImageUrl)"
                 [class.is-valid]="newOptionImageUrl !== '' && validate.url(newOptionImageUrl)"
                 class="form-control" id="newOptionImageUrl" name="newOptionImageUrl"
                 type="url">
        </div>

        <div class="card-footer">
          <div class="text-center">
            <button (click)="finishAddOption($event)" class="btn btn-primary m-1" type="button">
              <i class="fas fa-plus"></i> Create
            </button>
            <button (click)="cancelAddOption()" class="btn btn-secondary m-1" type="button">
              <i class="fas fa-times-circle"></i> Cancel
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="mt-5">
    <h4>Votes</h4>
    <p *ngIf="votes?.length === 0">No member has voted yet</p>

    <ul class="list-group">
      <li *ngFor="let vote of votes" class="list-group-item">
        <b>{{ getUserById(vote.userId)?.displayName }}</b>
        voted for
        <b>{{ getOptionById(vote.optionId)?.name }}</b>
        <span *ngIf="vote.note !== ''">
          with the following note:
        </span>
        
        <p class="noteInVote">{{ vote.note }}</p>
      </li>
    </ul>
  </div>

  <!-- Dialogs -->
  <div class="modal fade" id="CancelActivityConfirmDialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cancel Activity</h4>
        </div>

        <div class="modal-body">
          Do you want to cancel activity {{ activity.name }}?
        </div>

        <div class="modal-footer">
          <button (click)="cancel()" class="btn btn-danger" data-dismiss="modal" type="button">
            Cancel Activity
          </button>
          <button class="btn btn-secondary" data-dismiss="modal" type="button">
            No, do not cancel
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-5">
    <!-- Subtract 1 because system admin can't vote -->
    <h4 *ngIf="votes?.length === members?.length - 1">All members have voted</h4>
    <div *ngIf="votes?.length < members?.length - 1">
      <h4>The following members has not voted yet:</h4>
      <ul class="list-group">
        <li *ngFor="let member of membersNotVoted" class="list-group-item">
          {{ member.displayName }}
        </li>
      </ul>
    </div>
  </div>
</main>

<!-- Dialogs -->
<div class="modal fade" id="optionDeleteConfirmDialog" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete option</h4>
      </div>
      <div class="modal-body">
        Do you want to delete option {{ this.optionSelectedToDelete?.name }}
      </div>
      <div class="modal-footer">
        <button (click)="deleteOption()" class="btn btn-danger" data-dismiss="modal">
          Delete the option
        </button>
        <button class="btn btn-secondary" data-dismiss="modal">No, do not delete</button>
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" class="modal fade" id="notificationEmailRecipientsDialog" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Notify project members</h4>
      </div>
      <div class="modal-body">
        Notification email about this activity has been sent to the following addresses:
        <ul>
          <li *ngFor="let recipient of notificationRecipients">{{ recipient }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
