<main class="container pt-5" role="main">
  <div class="row">
    <h1 *ngIf="!isInActivityEditMode" class="col-md-8 pb-3">{{ activity.name }}</h1>
    <form *ngIf="isInActivityEditMode" class="col-md-8">
      <input [(ngModel)]="newActivity.name" class="form-control" name="name" type="text">
    </form>

    <div class="col-md-4 text-right" *ngIf="auth.user.admin">
      <button (click)="enterActivityEditMode()"
              *ngIf="!isInActivityEditMode"
              class="btn btn-info height-limited-button mr-2"
              type="button">
        <i class="fas fa-pen"></i> Edit
      </button>
      <button (click)="archive()"
              *ngIf="!isInActivityEditMode"
              class="btn btn-danger height-limited-button mr-2"
              type="button">
        <i class="fas fa-archive"></i> Archive
      </button>
      <button (click)="finishActivity()" class="btn btn-info height-limited-button mr-2" type="button">
        Finish
      </button>
      <button (click)="lockActivity()"
              *ngIf="!activity.lockedOn"
              class="btn btn-info height-limited-button mr-2"
              type="button">
        Lock
      </button>


      <button (click)="saveActivityEdit()" *ngIf="isInActivityEditMode"
              class="btn btn-primary height-limited-button mr-3">
        <i class="fas fa-pen"></i> Save
      </button>
      <button (click)="cancelActivityEdit()" *ngIf="isInActivityEditMode"
              class="btn btn-secondary height-limited-button">
        <i class="fas fa-times-circle"></i> Cancel
      </button>
    </div>

  </div>

  <div class="text-muted">Created on {{ activity.createdOn | date: 'medium' }}</div>
  <div *ngIf="activity.lockedOn" class="text-muted">
    Locked voting on {{ activity.lockedOn | date: 'medium' }}
  </div>

  <p *ngIf="!isInActivityEditMode" class="description py-3">{{ activity.description }}</p>
  <textarea *ngIf="isInActivityEditMode"
            [(ngModel)]="newActivity.description"
            class="form-control" id="description" name="description"
            rows="10">
  </textarea>

  <h2>Options</h2>
  <form class="row row-cols-md-3">
    <div *ngFor="let option of options" class="col mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h4 *ngIf="!isInOptionEditMode || option.id !== idOfTheOptionEditing"
              class="card-title">
            {{ option.name }}
          </h4>
          <input *ngIf="isInOptionEditMode && option.id === idOfTheOptionEditing"
                 [(ngModel)]="updatedOption.name"
                 class="form-control" name="optionName"
                 type="text">
          <div *ngIf="!isInOptionEditMode || option.id !== idOfTheOptionEditing"
               class="card-text text-muted">
            <!-- TODO: Generalize currency -->
            {{ option.price | number }} VND
          </div>
          <div *ngIf="isInOptionEditMode && option.id === idOfTheOptionEditing" class="input-group">
            <input [(ngModel)]="updatedOption.price"
                   class="form-control" name="optionPrice"
                   type="number">
            <div class="input-group-append">
              <span class="input-group-text">VND</span>
            </div>
          </div>
        </div>

        <div class="card-body h-100">
          <img *ngIf="option.image" alt="" class="card-img-bottom" src="{{ option.image }}">
          <!--TODO: Add field to choose new image, need to keep existing one if no new image is chosen -->
        </div>

        <div class="card-footer">
          <div class="text-center">

            <!-- TODO: This group is ugly on small screen, redesign needed -->
            <div *ngIf="auth.user.admin">
              <button (click)="beginEditOption(option.id)"
                      *ngIf="!isInOptionEditMode || option.id !== idOfTheOptionEditing"
                      class="btn btn-info m-1"
                      title="Edit"
                      type="button">
                <i class="fas fa-pen"></i> Edit
              </button>
              <button (click)="captureOptionIdForDeletion(option.id)"
                      *ngIf="!isInOptionEditMode || option.id !== idOfTheOptionEditing"
                      class="btn btn-danger m-1"
                      title="Delete"
                      data-toggle="modal"
                      data-target="#optionDeleteConfirmDialog"
                      type="button">
                <i class="fas fa-trash"></i> Delete
              </button>
              <button (click)="finishEditOption(option.id)"
                      *ngIf="isInOptionEditMode && option.id === idOfTheOptionEditing"
                      class="btn btn-success m-1"
                      title="Save"
                      type="button">
                <i class="fas fa-check"></i> Save
              </button>
              <button (click)="cancelEditOption()"
                      *ngIf="isInOptionEditMode && option.id === idOfTheOptionEditing"
                      class="btn btn-secondary m-1"
                      title="Cancel"
                      type="button">
                <i class="fas fa-times-circle"></i> Cancel
              </button>
            </div>

            <div *ngIf="!auth.user.admin">
              <textarea [(ngModel)]="notes[option.id]"
                        *ngIf="!activity.lockedOn && !voted(option.id)"
                        class="form-control" name="note"
                        placeholder="Write a note for the project manager about your vote"
                        rows="3">
              </textarea>
              <textarea *ngIf="voted(option.id)"
                        class="form-control" name="noteVoted"
                        placeholder="You didn't leave a note when you voted this option"
                        disabled rows="3">{{ voteMadeInThisActivity.note }}</textarea>
              <div class="mt-3">
                <button (click)="vote(option.id)"
                        *ngIf="!activity.lockedOn && !voted(option.id)"
                        class="btn btn-primary"
                        type="button">
                  Vote
                </button>
                <span *ngIf="activity.lockedOn && !voted(option.id)" class="text-danger m-1">
                  Voting has been disabled.
                </span>
                <span *ngIf="voted(option.id)" class="text-success m-1">
                  You voted this
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- TODO: Use real state for this card -->
    <!-- TODO: Add validation -->
    <div class="col mb-4 collapse" [class.collapse]="!isAddOptionFormVisible">
      <form *ngIf="true" class="card h-100">
        <div class="card-header">
          <input [(ngModel)]="newOption.name"
                 class="form-control" name="optionName"
                 placeholder="Name..."
                 type="text">
          <div class="input-group">
            <input [(ngModel)]="newOption.price"
                   class="form-control" name="optionPrice"
                   min="0" type="number">
            <div class="input-group-append">
              <div class="input-group-text">VND</div>
            </div>
          </div>
        </div>
        <div class="card-body"></div>
        <div class="card-footer">
          <div class="text-center">
            <button (click)="finishAddOption()" class="btn btn-primary m-1">
              <i class="fas fa-plus"></i> Create
            </button>
            <button (click)="cancelAddOption()" class="btn btn-secondary m-1">
              <i class="fas fa-times-circle"></i> Cancel
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col mb-4">
      <div class="card h-100">
        <button (click)="showAddOptionForm()" class="button-add-option h-100" title="Add option">
            <span class="icon-wrapper">
              <i class="fas fa-plus"></i>
            </span>
        </button>
      </div>
    </div>

  </form>
</main>

<!-- Dialogs -->
<div class="modal fade" id="optionDeleteConfirmDialog" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete option</h4>
      </div>
      <div class="modal-body">
        This operation is unrecoverable, please confirm your intention.
      </div>
      <div class="modal-footer">
        <button (click)="deleteOption()" class="btn btn-danger" data-dismiss="modal">
          Delete the option
        </button>
        <button class="btn btn-secondary" data-dismiss="modal">No, do not delete</button>
      </div>
    </div>
  </div>
</div>
