<div class="container" style="margin-top: 140px;">
  <header class="jumbotron" *ngIf="auth.currentUser; else loggedOut">
    <div class="row">
      <div class="col-sm-3">
        <div class="text-center">
          <h1>{{ auth.currentUser.username }}</h1>
          <img src="https://cdn.pixabay.com/photo/2016/08/31/11/54/user-1633249_960_720.png"
            class="avatar rounded-circle img-thumbnail" alt="avatar" />
          <h6>Upload a different photo...</h6>
          <input type="file" accept="image/*" class="text-center center-block file-upload" />
        </div>
      </div>

      <div class="col-sm-9" id="main">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages"><i class="fa fa-edit fa-1x"></i> Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <hr />

            <div class="row">
              <div class="col-lg-6 mr-auto">
                <p class="lead">
                  <strong>Email:</strong>
                  {{ auth.currentUser.email }}
                </p>
              </div>
              <div class="col-lg-6 mr-auto">
                <p class="lead">
                  <strong>Job Title:</strong>
                    {{ currentUser.displayName }}
                </p>
              </div>
            </div>
          </div>
          <!--/tab-pane-->
          <div class="tab-pane" id="messages">
            <h2></h2>

            <hr />
            <div class="row">
              <div class="col-lg-6 mr-auto">
                <label for="displayname">
                  <h4>Display name</h4>
                </label>
                <input type="text" class="form-control" name="displayname" id="displayname" placeholder="enter displayname"
                  title="enter your display name if any." value=" {{ currentUser.displayName }}" />
              </div>
              <div class="col-lg-6 mr-auto">
                <label for="phone">
                  <h4>Phone</h4>
                </label>
                <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone"
                  title="enter your phone number if any." value="" />
              </div>
              <div class="col-lg-6 mr-auto">
                <label for="email">
                  <h4>Email</h4>
                </label>
                <input type="text" class="form-control" name="email" id="phone" placeholder="enter email"
                  title="enter your email if any." value=" {{ currentUser.email }}" />
              </div>
              <div class="col-lg-6 mr-auto">
                <label for="location">
                  <h4>Location</h4>
                </label>
                <input type="text" class="form-control" name="location" id="phone" placeholder="enter location"
                  title="enter your location if any." value="" />
              </div>
              <div class="col-lg-6 mr-auto">
                <label for="username">
                  <h4>Username</h4>
                </label>
                <input type="text" class="form-control" name="username" id="phone" placeholder="enter username"
                  title="enter your username if any." value=" {{ currentUser.username }}" />
              </div>
              <div class="col-lg-6 mr-auto">
                <label for="password">
                  <h4>Password</h4>
                </label>
                <input type="text" class="form-control" name="password" id="phone" placeholder="enter password"
                  title="enter your password if any." />
              </div>
              <div class="col-lg-6 mr-auto">
                <label for="verify">
                  <h4>Verify</h4>
                </label>
                <input type="text" class="form-control" name="verify" id="phone" placeholder="enter vetify password"
                  title="enter your verify if any." />
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <br />
                <button class="btn btn-lg btn-success" type="submit">
                  <i class="fa fa-save fa-1x"></i> Save
                </button>
                <button class="btn btn-lg" type="reset">
                  <i class="fa fa-reply fa-1x"></i> Reset
                </button>
              </div>
            </div>
            <hr />
          </div>
          <!--/tab-pane-->
        </div>
        <!--/tab-pane-->
      </div>
      <!--/tab-content-->
    </div>
    <!--/col-9-->
  </header>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>