<div class="container">
  <div class="edit-form">
    <h4>Project</h4>
    <form #f="ngForm" (ngSubmit)="f.form.valid" class="submit-form" name="project" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" required type="text" class="form-control" id="name" [(ngModel)]="currentProject.name"
          name="name" />
        <div *ngIf="f.submitted && name.invalid" class="alert alert-warning" role="alert" style="top :10px">
          Name is required!
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input #description="ngModel" required type="text" class="form-control" id="description"
          [(ngModel)]="currentProject.description" name="description" />
        <div *ngIf="f.submitted && description.invalid" class="alert alert-warning" role="alert" style="top :10px">
          Description is required!
        </div>
      </div>
      <div class="form-group">
        <label for="fund">Fund</label>
        <input type="text" class="form-control" id="fund" [(ngModel)]="currentProject.fund" name="fund" disabled />
      </div>

      <div class="accordion arrows">
        <input type="radio" name="accordion" id="cb1" />
        <section class="box">
          <label class="box-title" for="cb1">Member</label>
          <label class="box-close" for="acc-close"></label>
          <div class="box-content">
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Add Member
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" *ngFor="let member of allMembers"
                  (click)="addMember(member)">{{member.displayName}}</button>
              </div>
            </div>
            <table>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Job Title</th>
                <th scope="col">Delete?</th>
              </tr>
              <tr *ngFor="let member of members">
                <td>{{member.displayName}}</td>
                <td>{{member.email}}</td>
                <td>{{member.jobTitle.name}}</td>
                <button class="btn btn-danger mt-3" (click)="removeMember(member.id)">Delete</button>
              </tr>
            </table>
          </div>
        </section>
        <input type="radio" name="accordion" id="cb2" />
        <section class="box">
          <label class="box-title" for="cb2">Activities</label>
          <label class="box-close" for="acc-close"></label>
          <div class="box-content">
            <a class="btn btn-info" routerLink="/activities/add/{{currentProject.id}}"
              href="/activities/add/{{ currentProject.id }}">
              Add
            </a>
            <table>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
              </tr>
              <tr *ngFor="let activity of activities">
                <td>{{ activity.name }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.lockedOn !== null ? 'Locked' : 'Open' }}</td>
              </tr>
            </table>
          </div>
        </section>
        <input type="radio" name="accordion" id="acc-close" />
      </div>
    </form>

    <button type="submit" class="btn btn-success mr-5 mt-5" (click)="updateProject()">
      Update
    </button>

    <button class="btn btn-danger mr-5 mt-5" (click)="deleteProject()">
      Delete
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProject">
    <br />
    <p>Cannot access this project...</p>
  </div>
</div>