<div class="container">
  <div style="width: 400px; margin: auto;">
    <form class="submit-form" #f="ngForm" (ngSubmit)="f.form.valid" name="project" novalidate>
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input #name="ngModel" required type="text" class="form-control" id="name" required [(ngModel)]="project.name" name="name">
          <div *ngIf="f.submitted && name.invalid" class="alert alert-warning" role="alert" style="top :10px">
            Name is required!
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input #description="ngModel" required class="form-control" id="description" required [(ngModel)]="project.description" name="description">
          <div *ngIf="f.submitted && description.invalid" class="alert alert-warning" role="alert" style="top :10px">
            Description is required!
          </div>
        </div>

        <!--<div class="form-group">-->
        <!--  <label for="projectAdmin">Project Admin</label>-->
        <!--  <input class="form-control" id="projectAdmin" required [(ngModel)]="project.projectadmin"-->
        <!--         name="projectadmin">-->
        <!--</div>-->

        <!-- <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect02">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect02">Options</label>
            </div>
          </div> -->

        <button (click)="saveProject()" class="btn btn-success">Submit</button>
      </div>

      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newProject()">Add</button>
      </div>
    </form>
  </div>
</div>