.userList .list-group-item, .list-group-item.text-center:last-child {
  padding: 0;

  a {
    display: block;
    padding: 1rem;
  }
}

.description {
  white-space: pre-wrap;
}

[name="name"] {
  font-size: 1.25rem;
}
