<div class="container">
    <header class="card-header">
      <p>{{ content }}</p>
    </header>
</div>
<section>
  <div class="table-container">
    <table>
      <thead>
        <tr> 
          <th>
            Activity Name
            <div>Activity Name</div>
          </th>
          <th> 
            Project
            <div>Project</div>
          </th>
          <th>
            Status
            <div>Status</div> 
          </th>
          <th>
            Actions
            <div>Actions</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Happy Hour - 09/07/2020</td>
          <td>Visikard</td>
          <td>Open</td>
          <td class="actions">
            <button type="button" class="btn btn-save">
              <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-save"></use>
              </svg>
              <span>Info</span>
            </button>
            <button type="button" class="btn btn-revert">
              <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-revert"></use>
              </svg>              
              <span>Voted</span>
            </button>
          </td>
        </tr>
        <tr>
          <td>Happy Hour - 02/07/2020</td>
          <td>Visikard</td>
          <td>Close</td>
          <td class="actions">
            <button type="button" class="btn btn-save">
              <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-save"></use>
              </svg>
              <span>Info</span>
            </button>
            <button type="button" class="btn btn-revert">
              <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-revert"></use>
              </svg>              
              <span>Voted</span>
            </button>
          </td>
        </tr>
        <tr>
          <td>Happy Hour - 16/07/2020</td>
          <td>Visikard</td>
          <td>Close</td>
          <td class="actions">
            <button type="button" class="btn btn-save">
              <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-save"></use>
              </svg>
              <span>Info</span>
            </button>
            <button type="button" class="btn btn-revert">
              <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-revert"></use>
              </svg>              
              <span>Voted</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
